<settings>
  <setting propertyKey="@Properties.bgColour" title="@Strings.TBgColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.nrColour" title="@Strings.TNrColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.showSeconds" title="@Strings.TShowSeconds">
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.hrColour0" title="@Strings.THrColour0">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.hrColour1" title="@Strings.THrColour1">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.hrColour2" title="@Strings.THrColour2">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.hrColour3" title="@Strings.THrColour3">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.hrColour4" title="@Strings.THrColour4">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.hrColour5" title="@Strings.THrColour5">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.stepColour" title="@Strings.TStepColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.batteryColour" title="@Strings.TBatteryColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.batteryNumber" title="@Strings.TBatteryNumber">
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.dndColour" title="@Strings.TDNDColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.phoneColour" title="@Strings.TPhoneColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.alarmColour" title="@Strings.TAlarmColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.messageColour" title="@Strings.TMessageColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.gpsColour" title="@Strings.TGPSColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.sunupColour" title="@Strings.TSunupColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.sundownColour" title="@Strings.TSundownColour">
    <settingConfig type="list">
      <listEntry value="0xFFFFFF">@Strings.White</listEntry>
      <listEntry value="0xAAAAAA">@Strings.LightGray</listEntry>
      <listEntry value="0x555555">@Strings.DarkGray</listEntry>
      <listEntry value="0x000000">@Strings.Black</listEntry>
      <listEntry value="0xFF0000">@Strings.Red</listEntry>
      <listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
      <listEntry value="0xFF5500">@Strings.Orange</listEntry>
      <listEntry value="0xFFAA00">@Strings.Yellow</listEntry>
      <listEntry value="0x00FF00">@Strings.Green</listEntry>
      <listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
      <listEntry value="0x00AAFF">@Strings.Blue</listEntry>
      <listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
      <listEntry value="0xAA00FF">@Strings.Purple</listEntry>
      <listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.showRise" title="@Strings.TShowRise">
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.sunupTime" title="@Strings.TSunupTime">
    <settingConfig type="list">
      <listEntry value="0">@Strings.SunR</listEntry>
      <listEntry value="1">@Strings.Civil</listEntry>
      <listEntry value="2">@Strings.Nautical</listEntry>
      <listEntry value="3">@Strings.Astronomical</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.sundownTime" title="@Strings.TSundownTime">
    <settingConfig type="list">
      <listEntry value="0">@Strings.SunD</listEntry>
      <listEntry value="1">@Strings.Civil</listEntry>
      <listEntry value="2">@Strings.Nautical</listEntry>
      <listEntry value="3">@Strings.Astronomical</listEntry>
    </settingConfig>
  </setting>
</settings>